:root{
    --primary-color:#e50914;
    --dark-color:#141414;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family:Arial, Helvetica;
    --webkit-font-smoothing: antialiased;
    background: #000;
    color: #999;
}
h1,h2,h3,h4{
    color: #fff;
}
h1{
    font-weight: bold;
    font-size: 3rem;
}

a{
    color: #fff;
    text-decoration:none;
}
p{
    margin: 0.5rem 0;
}
img{
    width: 100%;
}

.showcase{
    width: 100%;
    height: 93vh;
    position: relative;
    background: url('netflix.jpg') no-repeat center center/cover;
}
.showcase::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0,0.6);
    box-shadow: inset 120px 100px 250px #000000,inset -120px -100px 250px #000000;
}
.showcase-top{
    position: relative;
    height: 90px;
    z-index: 2;

}
.showcase-top img{
    width:130px ;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(50%,-50%);
}
.showcase-top a{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-50%,-50%);
}
.container{
    margin: auto;
    padding: 0 2rem;
    max-width: 70%;
}
/* Butto */
.btn{
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding: 0.4rem 1.3rem;
    font-size:1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-right:0.5rem ;
    box-shadow: 0 1px 0 rgba(0, 0, 0,0.45);
    border-radius: 2px;
}
.btn:hover{
    opacity: 0.9;
}
.btn-xl{
    font-size:1.5rem;
    padding: 0.8rem 2.7rem;
    text-transform: uppercase;
}
.showcase-content{
    z-index: 2;
    position: relative;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 9rem;
    max-width: 700px;
}
.showcase-content form{
    /* margin:2px 5px; */
    display: flex;
    margin: auto;
    
    /* height: 10%; */


}
.showcase-content h1,h2,h3,form{
    margin: 0 0 1.1rem;
    line-height: 1.25;
}
.showcase-content input{
    /* width: 50%; */
    font-size: 1.1rem;
    /* margin-left: 110px; */
    min-width: 400px;
}
.tabs{
    background-color: var(--dark-color);
    padding-top: 1rem;
    border-bottom: 3px solid #3d3d3d;
}
.tabs .container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.tabs .container> div{
    padding: 2rem 0;
}
.tabs .container >div:hover{
    color: #fff;
    cursor: pointer;
}
.tab-border{
    border-bottom: var(--primary-color) 4px solid;
}

.tab-1-content-inner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.text-xl{
    font-size: 2rem;
    margin-bottom:1rem ;
}
.text-lg{
    font-size: 1.8rem;
    margin-bottom:1rem ;
    color: #fff;
}
.text-center{
    text-align: center;
}
#tab-1-content,
#tab-2-content,
#tab-3-content{
 display: none;   
}
.tab-content{
    padding: 2rem;
}
.show{
    display: block !important;
}
.tab2-top{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
}
.tab2-content{
    font-size-adjust: 0.58;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* .tab3-content{

    display: grid;
    grid-template-rows: repeat(2,1fr);
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;

} */
.tab3-content-top{
    text-align: center;
}

.table{
    width: 100%;
    margin-top: 2rem;
}

.table tbody tr td{
    /* padding-bottom: 2rem; */
    padding: 1rem 2rem;
}

.table tbody tr:nth-child(odd){
    background: #222;
    
}
.footer{
    max-width: 75%;
    margin: 1rem auto;
    overflow: auto;
}
.footer,.footer a{
    color: #999;
    font-size: 0.9rem;
}
.footer-cols{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem;
}
.footer-cols li{
   line-height: 1.9;
}
@media(max-width:960px){
    .showcase{
       height:  70vh;
    }
    .hide-sm{display: none;}

    .showcase-content h1{
        font-size: 3.7em;
        line-height: 1;
    }
    .showcase-content input{
        /* width: 50%; */
        font-size: 1.1rem;
        /* margin-left: 110px; */
        min-width: 200px;
    }
    .footer-cols{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 2rem;
    }
}
@media(max-width:700px){
    #tab-1-content .tab-1-content-inner{
        
        grid-template-columns:1fr;
        /* justify-content: center;  */
         /* align-items: center;  */
        text-align: center;
    }
    #tab-2-content .tab2-content{
        grid-template-columns:1fr;
        /* justify-content: center;  */
         /* align-items: center;  */
        text-align: center;
    }
}